.heading-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.heading-section h2 {
  position: relative;
  padding-bottom: 20px;
  padding: 0 0 20px 0;
  border-bottom: 1px solid #e5e5e5;
}