.top-home {
  padding-top: $padding-top;
  padding-bottom: $padding-bottom;
  .wrapper-top-home {
    display: flex;
    gap: 15px;
    .col:first-child {
      flex-basis: 50%;
      .wrapper-banner {
        text-align: center;
        .banner {
          position: relative;
          .text-banner {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            p {
              color: $color-light-gray;
              font-size: 14px;
              // line-height: 30px;
              margin-bottom: 21px;
            }
            h1 {
              font-size: 30px;
              font-weight: 500;
              margin-bottom: 25px;
            }
          }
        }
      }
    }
    .col:last-child {
      flex-basis: 50%;
      .wrapper-banner {
        display: flex;
        flex-wrap: wrap;
        gap: 15px;
        height: 100%;
      }
      .banner {
        flex-basis: calc(50% - 15px);
        position: relative;
        .img-banner {
          height: 100%;
          overflow: hidden;
          position: relative;
          height: 273.75px;
          width: 281.25px;
          img {
            transition: all 0.5s linear;
            transform: scale(1);
            &:hover {
              transform: scale(1.2);
              opacity: 0.6;
            }
          }
        }
        .btn-link {
          position: absolute;
          bottom: 20px;
          left: 50%;
          transform: translateX(-50%);
          width: 80%;
          padding: 20px;
          background-color: $color-white;
          display: flex;
          justify-content: center;
          transition: all 0.3s linear;
          cursor: pointer;
          &:hover {
            background-color: $main-color;
          }
          &:hover > a {
            color: $color-white;
          }
          &:hover img {
            transform: scale(1.2);
            opacity: 0.6;
          }
          a {
            color: $color-black;
            text-transform: uppercase;
            font-size: 14px;
            font-weight: 500;
            transition: color 0.3s linear;
          }
        }
      }
    }
    img {
      display: block;
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
}
.fatures {
  padding-top: $padding-top;
  padding-bottom: $padding-bottom;
  .wrapper-feature {
    display: flex;
    align-items: center;
    .feature {
      flex-basis: calc(25% - 10px);
      display: flex;
      align-items: center;
      // justify-content: space-between;
      .img-icon {
        background-color: $color-white;
        width: 60px;
        height: 60px;
        border: 1px solid $color-border;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 10px;
        transition: all 0.3s linear;
        img {
          width: 30px;
        }
        img.light-icon {
          display: none;
          opacity: 0;
          transition: all 0.3s linear;
        }
      }
      .text-feature {
        h3 {
          font-size: 14px;
          margin-bottom: 7px;
        }
        p {
          color: $color-light-gray;
        }
      }
      &:hover > .img-icon {
        background-color: $main-color;
        color: $color-white;
      }
      &:hover .dark-icon {
        display: none;
      }
      &:hover > .img-icon img.light-icon {
        display: block;
        opacity: 1;
      }
    }
  }
}
.trending {
  padding-top: $padding-top;
  padding-bottom: $padding-bottom;
  .wrapper-trending {
    display: flex;
    gap: 20px;
    // overflow: hidden;
    .col:first-child {
      width: 30%;
      .img-trending {
        position: relative;
        .text-trending {
          position: absolute;
          text-align: center;
          top: 50px;
          left: 50%;
          transform: translateX(-50%);
          color: $color-white;
          width: 100%;
          h3 {
            font-size: 24px;
            font-weight: 500;
            margin: 10px 20px;
          }
        }
      }
    }
    .col:last-child {
      width: 70%;
      .top-section {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .heading-section-left {
          flex-basis: 50%;
        }
        .angles{
          display: flex;
          i{
            background-color: $color-white;
            width: 40px;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            margin: 0 10px;
            border: 1px solid $color-border;
            transition: all 0.3s linear;
            cursor: pointer;
            &:hover{
              background-color: $main-color;
              color: $color-white;
            }
          }
        }
      }
      .wrapper-products-trending{
        overflow: hidden;
        .products-trending{
          display: inline-flex;
          align-items: center;
          padding-top: $padding-top;
          padding-bottom: $padding-bottom;
          // width: 1689.86px;
          overflow: hidden;
          .card{
            margin: 0 5px;
            width: calc((819px / 3) - 10px);
            position: relative;
            .new{
              position: absolute;
              left: 0px;
              top: 0px;
              background-color: $color-white;
              color: $color-black;
              border: 1px solid $color-border;
              padding: 2px;
              font-size: 14px;
            }
          }
        }
      }
      
    }
  }
}
.deal {
  padding-top: $padding-top;
  padding-bottom: $padding-bottom;
  background-color: $color-white;
  .wrapper-deal {
    padding-top: $padding-top;
    padding-bottom: $padding-bottom;
    display: flex;
    align-items: center;
    gap: 50px;
    .col:first-child {
      width: 45%;
      .slider-img {
        display: flex;
        align-items: center;
        .selected {
          border: 1px solid $color-border;
          margin-right: 15px;
          img{
            width: 387px;
          }
        }
        .wrapper-nav-slider {
          position: relative;
          i {
            position: absolute;
            font-size: 14px;
            left: 50%;
            transform: translateX(-50%);
            color: #252525;
            cursor: pointer;
          }
          i.fa-angle-down {
            bottom: 0;
          }
          .nav-slider {
            height: 465.6px;
            margin: 20px 0;
            overflow: hidden;
            .img {
              width: 100px;
              border: 1px solid $color-border;
              margin: 8px 0;
              cursor: pointer;
              img {
                opacity: 0.5;
              }
              .active-img{
                opacity: 1;
              }
            }
          }
        }
      }
    }
    .col:last-child {
      width: 55%;
      display: flex;
      flex-direction: column;
      align-items: center;
      .countdown {
        display: flex;
        align-items: center;
        .counter {
          margin: 5px;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          gap: 5px;
          background-color: #f7f7f7;
          width: 60px;
          height: 60px;
          border-radius: 50%;
          span {
            color: #111111;
            font-size: 16px;
            font-weight: 500;
          }
          p {
            font-size: 12px;
            line-height: 18px;
            color: $color-light-gray;
          }
        }
      }
      .product {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 50px;
        .title {
          margin-bottom: 15px;
          h3 {
            line-height: 15px;
            font-weight: 600;
            font-size: 24px;
          }
        }
        .rating {
          i {
            color: $color-orange;
            font-size: 14px;
          }
        }
        .price {
          display: flex;
          align-items: center;
          margin: 5px 0;
          .current-price {
            margin-right: 10px;
            font-weight: 500;
            font-size: 24px;
            color: $main-color;
          }
          .before-price {
            margin-right: 20px;
            text-decoration: line-through;
            color: $color-light-gray;
            font-weight: 500;
          }
        }
        .description {
          p {
            color: $color-light-gray;
            text-align: center;
            line-height: 25px;
          }
        }
      }
    }
  }
}
.brands {
  padding-top: $padding-top;
  padding-bottom: $padding-bottom;
  .wrapper-brands {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .brand {
      background-color: $color-white;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-basis: calc((100% / 5) - 10px);
      margin: 0 5px;
      .img-brand {
        padding: 20px;
      }
    }
  }
}
.special-Products {
  padding-top: $padding-top;
  padding-bottom: $padding-bottom;
  .wrapper-special-Products {
    display: flex;
    gap: 20px;
    .col:last-child {
      width: 30%;
      .img-special-Products {
        position: relative;
        .text-special-Products {
          position: absolute;
          text-align: center;
          top: 50px;
          left: 50%;
          transform: translateX(-50%);
          color: $color-white;
          width: 100%;
          h3 {
            font-size: 24px;
            font-weight: 500;
            margin: 10px 20px;
          }
        }
      }
    }
    .col:first-child {
      width: 70%;
      .top-section {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .heading-section-left {
          flex-basis: 50%;
        }
        .angles{
          display: flex;
          i{
            background-color: $color-white;
            width: 40px;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            margin: 0 10px;
            border: 1px solid $color-border;
            transition: all 0.3s linear;
            cursor: pointer;
            &:hover{
              background-color: $main-color;
              color: $color-white;
            }
          }
        }
      }
      .wrapper-products-trending{
        overflow: hidden;
      .products-trending{
        display: inline-flex;
        justify-content: start;
          align-items: center;
          padding-top: $padding-top;
          padding-bottom: $padding-bottom;
          // width: 1689.86px;
          // overflow: hidden;
        .card{
          margin: 0 5px;
            width: calc((819px / 3) - 10px);
            position: relative;
        }
      }
    }
    }
  }
}
.blog {
  padding-top: $padding-top;
  padding-bottom: $padding-bottom;
  .wrapper-blog {
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: 20px;
    padding-top: $padding-top;
    padding-bottom: $padding-bottom;
    .big-post {
      flex-basis: 50%;
      margin-right: 40px;
      margin-top: 28px;
      .img {
        margin-bottom: 20px;
        position: relative;
        &::after {
          content: "";
          position: absolute;
          width: 100%;
          height: 100%;
          background-color: transparent;
          top: -30px;
          right: -30px;
          z-index: -1;
          border-radius: 5px;
          border: 5px solid $color-border;
        }
        img {
          border-radius: 5px;
        }
      }
    }
    .posts {
      flex-basis: 50%;
      > .post {
        display: flex;
        justify-content: space-between;
        gap: 10px;
        margin-bottom: 40px;
        .img {
          img {
            border-radius: 5px;
          }
        }
      }
    }
    .text-post {
      padding: 0 15px;
      .date {
        span {
          font-size: 14px;
        }
      }
      h4 {
        margin: 15px 0;
        a {
          color: $color-black;
          font-size: 24px;
          transition: all 0.3s linear;
          &:hover {
            color: $main-color;
          }
        }
      }
      p {
        color: $color-light-gray;
        line-height: 24px;
        margin-bottom: 15px;
      }
    }
  }
}
